{% extends "base.njk" %}

{% block content %}
    <section class="about-me-section">
      <div class="about-me-page">
        <div class="about-me-text">
          <h2>About Me</h2>
          <p>Hi there, I'm Ochirsaikhan Davaajambal. That was a bit of a mouthful, wasn't it? It's because we Mongolians tend to have pretty long names, and believe me when I say that the length of my name is considered average in my country. The meaning of my name roughly translates to Beautiful Diamond, and you can just call me Ochir (pronounced with “ch,” not “k”) for short.</p>
          <p>Ever since I was a kid, I have loved interacting with computers. I still vividly remember playing 3D Pinball on my grandpa's office computer after kindergarten until we went home in the evening. Thereafter, my love for playing video games grew even more, and people would tell me I was "good with computers." I knew that I would do something related to computers as my profession.</p>
          <p>It wasn't until after high school graduation that I decided to take programming seriously. I took a gap year to prepare for applying to U.S. colleges, and during that time, I discovered CS50 on YouTube. The professor had so much passion, and the lectures were so entertaining and engaging. CS50 wasn't like any tutorials or online courses I had taken before, so I decided to enroll in the course through edX. The lectures were exciting, and the problem sets were challenging, but they made so much sense that I understood that computer science was all about solving problems. I enjoy solving problems and building things, and computer science was the perfect match. I gained a solid foundation in computer science after finishing CS50 and completing all of the projects and problem sets.</p>
          <p>Since then, I got into Allegheny College, and I've been honing my programming skills and gaining extensive experience in my position as a Technical Leader. Currently, I'm in my junior year, majoring in Computer Science and minoring in Economics. I developed a passion for building software with fundamental software engineering principles, such as building sustainable, reusable, and maintainable software. Also, I discovered that I had a passion for front-end design and making things look neat and beautiful. It surprised me because I've always thought of myself as more of a "logical" person than an "artsy" person, but it appears that I'm both at once. I like to have a growth mindset and think that talents can be developed through hard work, a sound system, and productive feedback from experts.</p>
        </div>
        <div class="about-me-skills">
          <p>brrrrrrrr</p>
        </div>
      </div>
    </section>
{% endblock %}